body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #002a35;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.event .event-view {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.event .event-view img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

.event .event-view h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1%;
  font-size: 1.6rem;
  border-radius: 5px;
}

.event .event-summary {
  display: flex;
  margin: 1% 2%;
  gap: 2%;
}

.event .event-summary p {
  flex: 2;
  margin: 0;
}

.event .event-summary div {
  flex: 1;
  background-color: #212529;
  color: white;
  border-radius: 10px;
}

.event .event-summary div ul {
  margin: 0;
}

.event .event-summary div li {
  position: relative;
  list-style-type: none;
  margin: 2% 2%;
  font-size: 1.2rem;
}

.event .event-summary div li::before {
  position: absolute;
  left: -1.9rem;
  content: attr(data-icon);
  font-size: 1.2rem;
  color: #535ba8;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.event .event-register {
  display: flex;
  justify-content: space-evenly;
  background-color: #747e8c;
  align-items: center;
  padding: 2%;
  font-size: 1.4rem;
}

.event .event-register .button {
  color: #ecf0f1;
  background-color: #063541;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.event .event-register .button:hover {
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  transform: scale(1.2);
  color: white;
}

.buttons-box {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}
