{% extends 'base.html.twig' %}

{% block title %}
    WonderGeek le site référence de la PopCulture 
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main/index.css') }}">
{% endblock %}

{% block mainClasses %}no-spaces{% endblock %}

{% block body %}
    <div class="landing">
        <div class="landing-content">
            <h1>Bienvenue sur WonderGeek</h1>
            <h2>Le site référence de la PopCulture</h2>
            <a href="#" class="button">
                Voir nos événements
            </a>
        </div>
    </div>
{% endblock %}