{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

<div class="header">
    <h1>Administration</h1>
    <p>Bienvenue dans l'interface d'administration du site WonderGeek</p>

    <div class="logo-container my-5">
        <a href="{{ path('main_index') }}"><img src={{ asset('img/logo.png') }} alt="logo wonderGeeK"></a>
    </div>
</div>


{% endblock %}