main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  font-weight: bold;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar {
  width: 10rem;
  height: auto;
  object-fit: cover;
}
.card {
  margin-top: 1rem;
  color: white;
  border-radius: 20px;
  background-color: rgb(206, 209, 212);
  width: 50rem;
  height: auto;
  overflow: hidden;
}

.card-text {
  margin-bottom: 5%;
}

.card-header {
  text-align: center;
  font-size: xx-large;
  background-color: #212529;
}
.card-body {
  background-color: #25515e;
}

li {
  list-style-type: none;
}

.container-favorites img {
  width: 200px;
  height: auto;
  margin-right: 1rem;
  box-shadow: 2px 2px 10px black;
  transition: 0.2s all ease-in-out;
}

.container-favorites img:hover {
  transform: translateY(-5px);
}

.favorites {
  display: flex;
  margin-bottom: 5%;
}

.username {
  text-transform: uppercase;
}

.bookedEvents {
  background-color: #25515e;
}

.cgu{
  background-color: white;
  color: black;
  font-size: small;
  width: 90%;
  line-height: 1.2;
}
