body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #002a35;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heart-container {
  display: flex;
  justify-content: flex-end;
  margin: 3% 3% 0 0;
}

.heart-icon {
  font-size: 2rem;
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.heart-icon:hover,
.heart-icon:active {
  -webkit-animation: heart-anim 1s ease;
  animation: heart-anim 1s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@-webkit-keyframes heart-anim {
  from {
    background-size: 100%;
  }
  to {
    -webkit-text-stroke: initial;
    color: transparent;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#ffffff),
      to(#ef3b36)
    );
    background-image: linear-gradient(0deg, #ffffff 0%, #ef3b36 100%);
    background-size: 100%;
    -webkit-background-clip: text;
  }
}

@keyframes heart-anim {
  from {
    -webkit-text-fill-color: transparent;
    background-size: 100%;
  }
  to {
    -webkit-text-stroke: initial;
    color: transparent;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#ffffff),
      to(#ef3b36)
    );
    background-image: linear-gradient(0deg, #ffffff 0%, #ef3b36 100%);
    background-size: 100%;
    -webkit-background-clip: text;
  }
}

.manga .manga-view {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.manga .manga-view img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

.manga .manga-view h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1%;
  font-size: 1.6rem;
  border-radius: 5px;
}

.manga .manga-summary {
  display: flex;
  margin: 1% 2%;
  gap: 2%;
}

.manga .manga-summary p {
  flex: 2;
  margin: 0;
}

.manga .manga-summary aside {
  flex: 1;
  background-color: #212529;
  color: white;
  border-radius: 10px;
}

.manga .manga-summary aside ul {
  margin: 0;
}

.manga .manga-summary aside li {
  position: relative;
  list-style-type: none;
  margin: 2% 2%;
  font-size: 1.2rem;
}

.manga .manga-summary aside i {
  color: #535ba8;
  font-size: 1.2rem;
  margin-right: 1rem;
}
