body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #c8d6e5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #002a35;
}

li {
  list-style-type: none;
}
.fa-search{
  background-color:  #3d7f3c;
  color: white;
  padding:40%;
}

.videoGames .videoGame {
  margin: 2% 0;
  display: flex;
  gap: 1%;
}

.videoGames .videoGame .videoGame-picture {
  position: relative;
}

.videoGames .videoGame img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.videoGames .videoGame .videoGame-summary {
  display: flex;
  flex-direction: column;
  margin: 1% 0;
  flex: 1;
  min-height: 100%;
}

.videoGames .videoGame .videoGame-summary .vg-body {
  flex: 1;
}

.videoGames .videoGame aside {
  width: 100%;
  padding-top: 2%;
}

.videoGames .videoGame div ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0;
}

.videoGames .videoGame div i {
  color: #535ba8;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.videoGames .videoGame .videoGame-action .button {
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.videoGames .videoGame .videoGame-action .button:hover {
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  transform: scale(1.2);
  color: white;
}

@media (max-width: 720px) {
  .videoGame {
    display: flex;
    flex-direction: column;
  }
  .main-header {
    display: flex;
    flex-direction: column;
  }
}
