<footer class="py-4">
    <p>
        <a href="{{ path('main_about') }}">
            wonderGeek
        </a> - Tous droits réservés {{ date()|date("Y") }}<br>
        <a href="{{path('user_cgu')}}"> Conditions Générales d'Utilisation</a>
    </p>
</footer>