<header>
    <div class="nav">
        <img src={{ asset('img/logo.png') }} alt="logo wonderGeeK">
    </div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link px-4 text-light" href="#">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-4 text-light" href="#">Évenements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-4 text-light" href="#">Catégories</a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link px-4 text-light" href="#">Connection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 text-light" href="#">Inscription</a>
        </li>
    </ul>
</header>