<header>
    <div class="nav">
        <img src={{ asset('img/logo.png') }} alt="logo wonderGeeK">
    </div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link px-4 text-light" href="#">Evenements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 text-light" href="#">Catégories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 text-light" href="{{ path('main_contact')}}">Contact</a>
        </li>
    </ul>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link px-4 text-light" href="{{ path('user_login')}}">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4 text-light" href="{{ path('user_register')}}">Inscription</a>
        </li>

    </ul>
</header>