body {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  color: white;
}
.form-end {
  margin-top: 2rem;
  align-self: center;
}
textarea {
  margin-top: 2rem;
  height: 20vh;
}
.InfoMessage {
  margin-top: 2rem;
  text-align: center;
}

.text-field {
  color: grey;
}

#event_startAt_date,
#event_startAt_time_hour,
#event_startAt_time_minute,
#event_endAt_date,
#event_endAt_time_hour,
#event_endAt_time_minute {
  color: grey;
}

.form-error-icon {
  display: none;
}

.form-check {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.form-check-label {
  margin-left: 10px;
}

#event_description {
  height: 10rem;
}
