body{
    color: white;
}

form{
    display:flex;
    flex-direction: column;
    color: white;
}
.form-row{
    align-self: center;
    width: 10vw;
}
.form-end{
    margin-top: 2rem;
    align-self: center;
}
textarea{
    margin-top: 2rem;
    height: 20vh;
}
.InfoMessage{
    margin-top: 2rem;
    text-align: center;
}
